@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  overflow: hidden;
}
